.table {
  display: flex;
  width: 50%;
}

.column {
  margin-bottom: 1em;
  width: 100%;
}

.row,
p {
  border: 1px black solid;
  height: 3em;
  margin: auto;
  width: 100%;
  text-align: center;
}

